.dropzone {
  width: 960px;
  height: 540px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;

  border-radius: 5px;
  background-color: #f7f7f7;

  @color: "rgb(153, 153, 153)";
  .stroked-border(@color);
  &.isHoveredWithFile {
    background-color: #cdffff;
  }
  &-text {
    font-size: 14px;
    color: #999999;
    margin-bottom: 5px;
  }
  &-link {
    color: #19a0fb;
    cursor: pointer;
  }
  &-hidden-input {
    display: none;
  }
}

.stroked-border(@color, @stroke-width: 4, @stroke-length: 10, @stroke-space: 10) {
  background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect  width='100%' height='100%' style='fill: none; stroke: @{color}; stroke-width: @{stroke-width}; stroke-dasharray: @{stroke-length} @{stroke-space}'/></svg>");
}
