.image-miniatures {
    img {
        height: 100%;
        margin-left: 5px;
        border: 1px;
        transition: 50ms height linear;
       
        &:hover {
            height: 110%;

        }
    }
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}